src/main/mule/github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2808ec9c-8ae0-41d6-b814-6e4d39fe19f5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubFlow" doc:id="7c132e54-8d8d-4ddf-9aa3-85adcdb95f61" >
		<http:listener doc:name="Listener" doc:id="352412d0-4093-4536-9369-68afce1a21c8" config-ref="HTTP_Listener_config" path="/github"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="1f77ba11-ebff-4af2-aca7-a76f006deacb" />
	</flow>
</mule>
